<script type="text/javascript" src="/assets/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
 <nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">FlowersArt</a>
		</div>
		<div>
		  <ul class="nav navbar-nav">
		  	<li class="active"><a href="#">Home</a></li>
		    <li><a href="#">Flowers</a></li>
		    <li><a href="#">Little Boxes</a></li>
		    <li><a href="#">Contact</a></li>
		  </ul>
		</div>
	</div>
</nav>

<div class="row">
	<div class="page-header">
		<h1>FlowersArt</h1>
	</div>
</div>

<div class="container">

	<div class="row">
		<div class="col-sm-4">
			<a href="/assets/flower_03.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_03.jpg" alt="" class="img-thumbnail" />
			</a>			
		</div>	
		<div class="col-sm-4">
			<a href="/assets/flower_01.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_01.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>	
		<div class="col-sm-4">
			<a id="single_1" href="/assets/flower_04.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_04.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>					
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="/assets/flower_03.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_03.jpg" alt="" class="img-thumbnail" />
			</a>			
		</div>	
		<div class="col-sm-4">
			<a href="/assets/flower_01.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_01.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>	
		<div class="col-sm-4">
			<a id="single_1" href="/assets/flower_04.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_04.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>					
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="/assets/flower_03.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_03.jpg" alt="" class="img-thumbnail" />
			</a>			
		</div>	
		<div class="col-sm-4">
			<a href="/assets/flower_01.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_01.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>	
		<div class="col-sm-4">
			<a id="single_1" href="/assets/flower_04.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_04.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>					
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="/assets/flower_03.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_03.jpg" alt="" class="img-thumbnail" />
			</a>			
		</div>	
		<div class="col-sm-4">
			<a href="/assets/flower_01.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_01.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>	
		<div class="col-sm-4">
			<a id="single_1" href="/assets/flower_04.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_04.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>					
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<a href="/assets/flower_03.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_03.jpg" alt="" class="img-thumbnail" />
			</a>			
		</div>	
		<div class="col-sm-4">
			<a href="/assets/flower_01.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_01.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>	
		<div class="col-sm-4">
			<a id="single_1" href="/assets/flower_04.jpg" rel="group" title="imagem!!!">
				<img src="/assets/flower_04.jpg" alt="" class="img-thumbnail" />
			</a>
		</div>					
	</div>

</div>