// Place all the styles related to the flowers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-familiy: Arial, Verdana;
}

div.row div.col-sm-4 img {
	max-width: 100%;
	padding: 5px;
	margin: 10px;
}

div.page-header img{
	width: 100%;
}

div.page-header {
	padding: 10px;
}


div.page-header h1{
	color: white;
	margin: 10px;
	margin-left: 50px;
	font-size: 60px;
	font-family: Arial;
}

body {
	background-image: url("/assets/flower_02.jpg");
	/* background-size: cover;	 */
    background-attachment: fixed;
    background-position: center; 	
}

nav div.container-fluid{
	background-color: purple;
	color: white;
}

nav div.container-fluid div.navbar-header a {
	color: white;
}

nav div.container-fluid div ul.nav.navbar-nav li a {
	color: white;
}

nav div.container-fluid div ul.nav.navbar-nav li.active a{
	color: white;
	background-color: purple;	
}